{% load labels %}
{% load humanize %}

<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
	  	<li class="active"><a href="#tab_effort_summary" data-toggle="tab">Effort Summary</a></li>
	  	{% if view_icon %} 
	  		<li class="pull-right"><a href="{% url 'project_allocations' project.id %}" class="text-muted" data-toggle="tooltip" title="" data-original-title="View and Modify project allocations"><i class="fa fa-eye"></i></a></li>
	  	{% endif %}
	</ul>
	<div class="tab-content">
	  	<div class="tab-pane active" id="tab_effort_summary">
			<div class="progress-group">
                    <span class="progress-text">Full Days Allocated on Project</span>
                    <span class="progress-number"><b>{{ project.percent_allocated|percent }}%</b></span>

                    <div class="progress sm">
                      <div class="progress-bar {{project.percent_allocated|progressbar_colour}}" style="width: {{project.percent_allocated|percent}}%"></div>
                    </div>
			</div>
			<table class="table table-striped">
				<tbody>
					<tr><td>
						<p><strong>Project Duration (Days): </strong>{{ project.project_days|dp2 }}</p>
						</td></tr>
					<tr><td>
						<p><strong>Total Allocated Days: </strong>{{ project.committed_days|dp2 }}</p>
					</td></tr> 
					<tr><td>
						<p><strong>Remaining Full Days: </strong>{{ project.remaining_days|dp2 }}</p>
					</td></tr> 
					<tr><td>
						<p><strong>Remaining FTE Days (at total_staff_cost{{project.fte}}%): </strong>{{ project.remaining_days_at_fte|dp2 }}</p>
					</td></tr> 
				</tbody>
			</table>

	  	</div>
	</div>
</div>

